<!DOCTYPE html>
<html lang="en>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Esercizio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-app="app">

    <form ng-controller="AppController">
     <input type="text" name="inpone" ng-model="inputone" />
     <input type="text" name="inptwo" ng-model="inputtwo" match-depts="inputone"/>
    </form>

  </body>
</html>
